# you shouldn't commit these into source control
# some dbt dirs
target/
dbt_packages/
logs/
package-lock.yml
.DS_Store
.env
# vscode extensions
extensions.json
.vscode/
# data assets
datasets/*
# temprarily hiding while I sort out dbt-core usage and details
profile.yml
*.cpython*
utils/*.cpython*

# jupyter checkpoints and other junk
*.ipynb_checkpoints
*.jupyterlab-workspace
.jupyter/
wandb/*
tb_logs/*