DATA_PATH="datasets"
MAX_LABEL_MB=300
GEOM_OVERLAP_THRESHOLD=0.8
PV_DB_FILE="datasets/prepared/labels/pv_inventory.db"
# used to tie our polygon labels to administrative boundaries (region, country, city, etc.)
OVERTURE_DIVISIONS_S3 = "s3://overturemaps-us-west-2/release/2025-03-19.0/theme=divisions/type=division_area/*.parquet"
# credentials for Maxar MGP Pro (API Keys are longer lived; accounts are suspended for inactivity)
MAXAS_USERNAME=""
MAXAR_PASSWORD=""
MAXAR_API_KEY=""
# NREL_API_KEY=""
# NREL_API_EMAIL=""